body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    background-color: #000;
    border: 2px solid white;
}
